@page "/books/add"
@page "/book/GetBookById/{id:int}"
@inject Ibook bookService
@inject IAuthorService authorService // Assuming you have an IAuthorService to fetch authors
@inject NavigationManager navigation
@using BlazorApp2.Client.Services
@using BlazorApp2.Shared

<h3>@(id == 0 ? "Add Book" : "Edit Book")</h3>

<EditForm Model="book" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="title">Title:</label>
        <InputText id="Title" @bind-Value="book.Title" class="form-control" />
    </div>

    <div class="form-group">
        <label for="authorId">Author:</label>
        <InputSelect id="AuthorId" @bind-Value="book.AuthorId" class="form-control">
            <option value="">Select an Author</option>
            @foreach (var author in authors)
            {
                <option value="@author.AuthorId">@author.Name</option>
            }
        </InputSelect>


    </div>

    <div class="form-group">
        <label for="publishedYear">Published Year:</label>
        <InputNumber id="PublishedYear" @bind-Value="book.PublishedYear" class="form-control" />
    </div>

    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <InputNumber id="Quantity" @bind-Value="book.Quantity" class="form-control" />
    </div>
    

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" @onclick="GoBack">Back</button>
    </div>
</EditForm>

@code {
    [Parameter] public int id { get; set; }

    private BookModel book = new BookModel();
    private List<AuthorModel> authors = new List<AuthorModel>(); // List to hold authors

    protected override async Task OnInitializedAsync()
    {
        authors = await authorService.GetAllAuthorsAsync(); // Fetch authors from the service
        Console.WriteLine($"Authors Count: {authors.Count}"); // Debug line to check authors
        if (id != 0)
        {
            book = await bookService.GetBookByIdAsync(id);
            if (book == null)
            {
                navigation.NavigateTo("/books");
            }
        }
    }


    private async Task HandleValidSubmit()
    {
        if (id == 0)
        {
            await bookService.AddBookAsync(book);
        }
        else
        {
            await bookService.UpdateBookAsync(id, book);
        }

        navigation.NavigateTo("/books");
    }

    private void GoBack()
    {
        navigation.NavigateTo("/books");
    }
}
